*{
    margin:0;
    padding:0;
}

html, body{
    height:100%;
    width:100%;
    
    font-size:1rem;
    box-sizing:border;
    
    display:flex;
    flex-direction:row;
}

.column{
    height:100%;
    width:calc(100%/3);
    
    display:flex;
    justify-content:space-around;

    flex-direction:column;
    
    background-color:maroon;
}

section > h1{
    text-align:center;
}

.dice{
    width:10rem;
    height:10rem;
    
    display:flex;
    align-self:center;
    
    flex-direction:row;

    justify-content:center;
    
    margin:1rem;
    border:.5rem solid black;
    
    background-color:gold;
    
}

.dot{
    width:1.5rem;
    height:1.5rem;
    margin:15px;
    border-radius:1.5em;
    
    background-color:black;
    
    display:flex;
}

.left{
    justify-content:flex-start; 
}

.middle{
    justify-content:center;
}

.right{
    justify-content:flex-end; 
}

.top{
    align-self:flex-start;
}

.center{
    align-self:center;
}

.bottom{
    align-self:flex-end;
}

#link{
    width:100%;
    
    background-color:moroon;
    
    text-align:center;
    
    float:left;
}

a{
    color:gold;
}